snippet snip "The Snippet Snippet" bA
snippet ${1:Trigger} "${2:Description}" ${3:Options}
${4:${VISUAL}}
`echo endsnippet`

$0
endsnippet

snippet 3t "Triple ticks" bA
\`\`\`$1
${2:${VISUAL}}
\`\`\`

$0
endsnippet


 
